@{
    ViewBag.Title = "Home Page";
}

<!-- Jumbotron-->
<div class="jumbotron">

    <!-- Name of the game -->
    <center><h1> Nombre del Juego </h1></center>
    <!-- Close name of the game-->

    <hr class="my-4">

    <!-- Main text inside the jumbotron-->
    <p class="lead">Poverty is more than the lack of income and resources to ensure a sustainable livelihood. Its manifestations include hunger and malnutrition, limited access to education and other basic services, social discrimination and exclusion as well as the lack of participation in decision-making. Economic growth must be inclusive to provide sustainable jobs and promote equality.</p>
    <p align="right"><a href="http://www.un.org/sustainabledevelopment/poverty/" class="btn btn-secondary btn-lg"> More Info... </a></p>
    <!-- Closes text inside the jumbotron-->

</div>
<!-- Close jumbotron-->

<!-- Quotes -->
<div class="row">
    <div class="col-md-6">
        <!-- Quote 1-->
       <p class="quote1">
            "Saving our planet, lifting people out of poverty, advancing economic growth…these are one and the same fight."
               <br />
            — Ban Ki-moon, ONU Secretary</p>
    </div>
    <!-- Close quote 1-->
    <div class="col-md-6">
        <!-- Quote 2-->
       <p class="quote2">"I believe that if you show people the problems and you show them the solutions they will be moved to act." </p>
        <p>  — Bill Gates, business and philanthropist </p>
    </div>
    <!-- Close quote 2-->
</div>
<!-- Close quotes -->
</div>

<!--    
Poverty is a thing that has existed since the beginning of humanity, nevertheless, it has been growing as we develop as a species, poverty has been aggravating and has occupied a more important place in societies, is such a significant problem just because you can find it all over the world. First, we need to define what is poverty, which according to with the world bank organization “Poverty is hunger. Poverty is lack of shelter. Poverty is being sick and not being able to see a doctor. Poverty is not having access to school and not knowing how to read. Poverty is to not have a job, is fear for the future, living one day at a time.”.
-->
